* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

html {
    font-family: 'Montserrat', sans-serif;
}
/*Inizio style header */

.topHeaderBar {
    width: 100vw;
    background-color: #b4dff0;
    /*DA CANCELLARE*/
    height: 80px;
}


.fixedMenu {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    height: 70px;
    line-height: 5;
}

.leftmenu {
    float:left;
}

.topleft li{
    float:left;
    list-style-type: none;
}


.topleft li:last-child {
    padding-left: 20px;
}



.rightmenu {
    float:right;
    text-align: right;
}

.rightmenu .button1 {
    color:orange;
    padding:10px;
    background-color:#f5f8fa;
    border: 1px solid orange;
    margin-left:25px;
    font-size:15px
}

.rightmenu .button {
    color:white;
    padding:10px;
    background-color:orange;
    border: 1px solid orange;
    margin-left:25px;
    font-size:15px;
}

.button {
    color:white;
    padding:10px;
    background-color:orange;
    border: 1px solid orange;
    margin:0px auto;
    font-size:15px;
}

.bottomHeader {
    width: 100vw;
    background-color: #ffffff;
    /* DA CANCELLARE */
    height: 70px;
}

.bottomMenu {
    width: 80%;
    margin: 0 auto;
    line-height: 70px;
}

.bottomLeft {
    width: 30%;
    float: left;
    font-size: 20px;
    height: 70px;
}

.logo img {
    width: auto;
    height: 30px;
}

.bottomRightMenu {
   float: right;
   text-align: right;
   height: 70px;
}

ol li {
    padding-left:30px;
    font-size: 16px;
    float: left;
    list-style-type: none;
}
/*FINE STYLE HEADER*/


/*INIZIO STYLE BODY*/

.bcg-mainContainer {
    width: 100vw;
    background-color: #fff4ee;
    background-image: url(https://www.hubspot.com/hubfs/raw_assets/public/_Web%20Team%20Assets/Website/assets/svg/hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /*DA CANCELLARE*/
    height: 600px;
}

.jumbotron {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    position: relative;

}

.leftJumbo {
    width: 50%;
    height: 400px;
    position: absolute;
    top:30%;
}

.leftJumbo h1 p {
    font-size:50px;
}



.left-container {
    width: 50%;
    float: left;
    /*DA CANCELLARE*/
    background-color: violet;
    height: 100%;

}

.azure-bar {
    width: 100vw;
    height: 60px;
    border: 1px solid black;
    background-color: #37c5b1;
}


/*BIGCONTAINER*/

.bcg-bodycolor {
    width: 100vw;
    background-color: #f5f8fa;

    /*DA CANCELLARE*/
}



.hr-card {
    width: 80%;
    margin: 0 auto;
    text-align: center;

}

.hr-card img {
    width: 30%;
    height: 220px;
}

.hr-card h3 {
    padding:20px 40px 0px 40px;
}

.wideContainer {
    width:80%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

.img-button {
    width : 30%;
    padding-top:20px;
    float: left;
}

.right-container-near-img {
    float:right;
    width:60%;
    text-align: left;
    padding-top: 30px;
}

.right-container-near-img h2 ,p {
    padding-bottom: 25px;
}

.right-container-near-img hr {
    float:right;
    display: inline;
}

.right-container-near-img h4 {
    padding-bottom: 30px;
}

.right-container-near-img ul li {
    display: inline;
    padding-right: 10px;
}

.right-container-near-img i {
    color: orange;
}
/* CARDS */
.cards {
    width: 80%;
    margin:0 auto;
    padding-top: 100px;
    padding-bottom: 40px;
}

.card {
    width:33.3333%;
    float:left;
    text-align: center;
    padding: 10px 35px;
}

.card img {
    height: 150px;
}

.feature {
    text-align: left;
    padding:10px 30px;
}

.feature ul li {
    list-style-type: none;
}

.feature i {
    color: orange;
    padding-right: 10px;
}

  /* ENDS CARDS*/

.bcg-gridContainer {
    width: 100vw;
    background-color: #00a9b8;

    /*DA CANCELLARE*/

}

.title-above-grid {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.title-above-grid h2 , p{
    padding-top: 40px;
}


.grid-container {
    width: 80%;
    margin: 0 auto;
    /*DA CANCELLARE*/
}

.cell {
    width: 25%;
    float: left;
    text-align: center;
    padding: 30px 0px;
    color: white;
}

.cell img {
    height: 35px;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.cell:nth-child(4) {
    border-bottom: 1px solid white;
}

.cell:nth-child(5), .cell:nth-child(6), .cell:nth-child(7) {
    border-right: 1px solid white;
}


.bcg-lastContainer {
    width: 100vw;
    height: 50vh;
    background-color: #ffffff
}

.left-container-bottom {
    width: 40%;
    float:left;

    /*DA CANCELLARE*/
    height: 40%;
    background-color: violet;
}

.right-container-bottom {
    width: 60%;
    float: left;

    /*DA CANCELLARE*/
    height: 40%;
    background-color: pink;
}

.left-cta-bottom {
    width: 50%;
    float: left;

    /*DA CANCELLARE*/
    height: 60%;
    background-color: black;
}

.right-img-bottom {
    width: 50%;
    float: left;

    /*DA CANCELLARE*/
    height: 60%;
    background-color: blue;
}
/* FINE STYLE BODY*/


/*INIZIO STILE FOOTER*/

.bcg-footer {
    width: 100vw;
    height: 50vh;
    background-color: #33475b;
}

.nav-menu {
    width: 25%;
    float: left;
    /*DA CANCELLARE*/
    height:40%;
    background-color: brown;
    border: 1px solid white;
}

.middle-footer-container {
    width: 100%;
    /*DA CANCELLARE*/
    height: 20%;
}

.right-footer-container {
    width: 25%;
    float: right;

    /*DA CANCELLARE*/
    height: 100%;
    background-color: lightblue;
}

.last-footer-container {
    width: 100%;

    /*DA CANCELLARE*/
    height: 40%;
    background-color: green;
}
/*FINE STILE FOOTER*/
